      <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-10">
                <p>Copyright &copy; Your Website 2016</p>
            </div>
        </div>
    </footer>

    <!-- /.container -->

    <!-- jQuery -->
      <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

            <!-- Script to Activate the Carousel -->
              <script>
                $('.carousel').carousel({
                interval: 5000 //changes the speed
              })
              </script>
